// Variables de couleurs
$couleur-violet:#FF79DA;
$couleur-bleu:#9356DC;
$couleur-bleu-cair:#99E2D0;
$couleur-texte-gris:#7a7a7a;

// Header
$gris-paris:#EAEAEA;
$gris-blocs:#F6F6F6;

$color-primary: #b997e3;
$color-secondary: rgb(105, 16, 105);

$color-tertiary: #31957c;
$gradient : linear-gradient(180deg, rgb(117, 44, 96) 0%, rgb(140, 116, 170) 100%);