@import './_variables';
@import './_mixins';
@import './_placeholders';

// LOADING SPINNER
.spinner {
    height: 100%;
    background: white;
    margin: auto;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 20;
    animation: spinner 2s linear ;
    visibility: hidden;
    &__border {
        @include flexbox-center;
        border: 10px solid transparent;
        border-top: 10px solid $color-primary;
        border-bottom: 10px solid $color-secondary;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin: auto;
        position: fixed;
        top: 0; left: 0; right: 0; bottom: 0;
        animation: spinner-border 2s linear ;
        z-index: 10;
        visibility: hidden;
    }
    &__center {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: $color-tertiary;
    
    }
}

// Animation Loading spinner //

@keyframes spinner {
    0% {
        visibility: visible;
        opacity: 0.9;
    }
    70% {
        opacity: 0.9;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes spinner-border {
    0% {
        visibility: visible;
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: rotate(360deg);
        opacity: 0;
        visibility: hidden;
    }
}
//   ACCUEIL
body{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

header{
    div:first-child{
        @extend %flexbox-aligner-centrer;
        box-shadow: 0px 5px 6px 0px rgb(0 0 0 / 20%);
        
        height: 64px;
        img{
            width: 40%;
            @extend %centrer;
            margin-top: 18px;


        }
    }
    div:nth-child(2){
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $gris-paris;
        color: $couleur-texte-gris;
        @include marge-haut(5px);
        height: 49px;
        p{
            text-align: center;
            
            
        }
    }
}

header{
    div:nth-child(3){
        background-color: $gris-blocs;
        height: 240px;
        h1{
            font-size: 24px;
            text-align: center;
            padding-top:30px;
            max-width: 250px;
            margin: 0 auto;
        }
        p{
            text-align: center;
            margin: 15px 20px
        }
        button{
            margin: 0 auto;
            display: flex;
            opacity: 1;
            background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
            color: white;
            padding: 0 20px;
            height: 40px;
            align-items: center;
            border:none;
            border-radius: 200px;
            box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 30%);
        }
        button:hover{
            @include button-hover;
        }
    }
}

.categorie-restaurant{
    background-color: $gris-blocs;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #f6f6f6;
    height: auto;
    width: auto;
    margin: 10px 20px;
    border-radius: 20px;
    position: relative;
    -webkit-box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 16%);
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 16%);

}
.categorie-restaurant:hover{
    @include button-hover;
    background: lighten(#f7f7f7, 3%);
}
.process-number{
    background-color: #9356DC;
    color: white;
    position: absolute;
    padding: 3px 8px 3px 8px;
    border-radius: 500px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.process-icon{
    color: #7E7E7E;
    margin: 0 20px;
}
.sec1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.sec2{
    margin-top: 52px;
    background: #f6f6f6;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.image{
    object-fit: cover;
    height: 177px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    margin-top: -25px;
}
.restaurant-card{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    width: 318px;
    border-radius: 20px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 30%);
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 30%);
    height: 268px;
    margin: 36px 0 68px 0;
}
.restaurant-card-new{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    background: #99e2d0;
    top: 14px;
    right: 20px;
    height: 29px;
    width: 77px;
    border: none;
}
.restaurant-card-new p{
    color: #1b6150;
    padding: 10px 20px;
    margin: 0;
    font-weight: bold;
}
.fa-solid.fa-location-dot{
    padding-right: 15px;
}
.sec1 h2{
    margin-top: 42px;
    margin-left: 24px;
}
.restaurant-card h3 {
    margin-left: 18px;
}
body > main > div.sec2 > div > div > p{
    margin-top: -13px;
    margin-left: 18px;
}
.restaurant-card i {
    width: 2px;
    position: relative;
    top: -41px;
    left: 274px;
    font-size: 27px;
}
footer{
    margin-top: 0;
    background-color: #353535;
    height: 176px;
    color : white;
}
footer svg{
    color:white
}
footer img{
    width: 26%;
    padding: 21px 0 0 21px;
}
footer div{
    display:flex;
    align-items: center;
}
body > footer > div:nth-child(2) > i{
    font-size: 10px;
    padding-right: 11px;
    margin-left: 20px;
}
body > footer > div:nth-child(3) > i{
    font-size: 10px;
    padding-right: 5px;
    margin-left: 20px;
}
footer h4{
    font-size: 14px;
}
body > footer > div:nth-child(3){
    margin-top:-28px;
}
body > footer > h4:nth-child(4){
    margin: -12px 0 0px 19px;
}
body > footer > h4:nth-child(5){
    margin: 4px 0 0px 19px;
}
body > main > div.sec2 > div > a {
    text-decoration: none;
    color: black;
}
body > main > div.sec2 > div > a > div > p {
    margin: -14px 0 0 18px;
}

i.fa-regular.fa-heart{
    width: 2px;
    position: relative;
    top: -41px;
    left: 274px;
    font-size: 27px;
}
i.fa-regular.fa-heart{
    width: 2px;
    position: relative;
    top: -41px;
    left: 274px;
    font-size: 27px;
}

.heart {
    width: 30px;
    stroke-width: 30;
    stroke: black;
    fill: white;
    cursor: pointer;
  }
  .heart-full {
    position: absolute;
    top: 194px;
    left: 273px;
    fill: url(#text-fill);
    stroke: none;
}
.heart-empty {
    width: 30px;
    position: absolute; 
    top: 194px;
    left: 273px;
    &:hover {
      opacity: 0;
      transition: 0.5s;
    }
}

.sec2 div:hover{
    cursor: pointer;
    transform: scale(1.03);
    transition: ease 0.4s;

}

// LES MENUS
.image-1{
    width: 100%;
    height: 38vh;
}
.logo{
    width: 52%;
    padding: 15px;
    display: flex;
    margin: 0 auto;
}
.menu__sec1{
    padding: 0 20px;
    width: 90%;
    max-width: 1230px;
    border-radius: 30px 30px 0 0;
    background-color: $gris-blocs;
    position: relative;
    top: -135px;
    & h1 {
        font-family:'Shrikhand', cursive;
        font-size: 24px;
        font-weight: bold;
        position: relative;
        top: 22px;
    }   
}
.heart {
    width: 30px;
    stroke-width: 30;
    stroke: black;
    fill: white;
    cursor: pointer;
  }
  .heart-full-2 {
    position: absolute;
    top: 24px;
    left: 316px;
    fill: url(#text-fill);
    stroke: none;
}
.heart-empty-2 {
    width: 30px;
    position: absolute; 
    top: 24px;
    left: 316px;
    &:hover {
      opacity: 0;
      transition: 0.5s;
    }
}

@media screen and (min-width:460px) {


}
