.image-1{
    width: 100%;
    height: 38vh;
}
.logo{
    width: 52%;
    padding: 15px;
    display: flex;
    margin: 0 auto;
}
.sec1 h1 {
    font-family:'Shrikhand', cursive;
    font-size: 24px;
    font-weight: bold;
   
}
i.fa-regular.fa-heart{
    width: 2px;
    position: relative;
    top: -55px;
    left: 274px;
    font-size: 27px;
}

